{{ $Page := 1 }}{{ if . }}{{ $Page = . }}{{ end }}
<template>
    <div class="card">
        <div class="card-id" hidden></div>
        <div class="card-body">
            <a href="" class="title-link card-link">
                <h6 class="card-title">title</h6>
            </a>
            <p class="card-text"></p>
            <div class="card-ori-text" hidden></div>
            <button class="translate-link btn btn-primary">翻譯</button>
        </div>
    </div>
</template>
<div class="container" id="header">
    <div class="card-deck">
        <div id="news_group" style="width:100%;" >
        </div>
    </div>
    <div style="text-align: center;">
        <a class="previous-page btn btn-outline-primary" href="/Page/"> << PREV </a>
        <a class="btn btn-outline-primary" href="#header">{{ $Page }} </a>
        <a class="next-page btn btn-outline-primary" href="/Page/"> NEXT >> </a>
    </div>
</div>

<script>
  var Page = {{ $Page }} ;
  var MaxCount = 20 ;
  var count = (Page-1) * MaxCount;

  $(function () {
    $(".next-page").attr("href", "/Page/" + (Page+1) );
    $(".previous-page").attr("href", "/Page/" + (Page-1) );

    $.ajax({
        url: "/TopStories/"+ Page +"/" + MaxCount
    }).done(function (result) {
        
        for (var i = 0; i < MaxCount; i++) {
        setContentId(result[i]);
        }

        var cards = $(".card");
        for (var i = 0; i < cards.length; i++) {
        getCardInfo($(cards[i]));
        }

        $("button").click(function(){
        TransText(this);
        $(this).hide();
        });
    });
  });

  function setContentId(result) {
      var temp = document.getElementsByTagName("template")[0];
      var clon = temp.content.cloneNode(true);
      $(clon.children).find(".card-id").text(result);
      $(clon.children).find(".card-title").text(++count + ". " );
      $("#news_group").append(clon);
  }


  function getCardInfo(item) {
    $.ajax({
        url: "https://hacker-news.firebaseio.com/v0/item/" + item.find(".card-id").text() + ".json?print=pretty",
    }).done(function (result) {
    setCardInfo(item,result);
    });
  }

  function setCardInfo(item,result) {
    var card_title = item.find(".card-title");
    card_title.text(card_title.text() + result.title);
    item.find(".card-ori-text").text( result.title);
    item.find(".title-link").attr("href", result.url);
  }

  function TransText(obj) {
      $.ajax({
          url: "/Trans/" + encodeURIComponent($(obj).prevAll(".card-ori-text").text().replace("/","\\"))
      }).done(function (result) {
          $(obj).prevAll(".card-text").text(JSON.parse(result).sentences[0].trans);
      });
  }
</script>