<template>
  <div class="card mb-1">
      <div class="card-id" hidden></div>
      <div class="card-body">
          <a href="" class="title-link card-link">
              <h6 class="card-title">title</h6>
          </a>
          <p class="card-text"></p>
          <button class="translate-link btn btn-primary">翻譯</button>
      </div>
  </div>
</template>
<div>
  <div class="card-deck">
      <div id="news_group" style="width: 100%;"></div>
  </div>
</div>
<script>
  var count = 0;
  var MaxCount = 20;
  $(function () {

      $.ajax({
          url: "/TopStories/" + MaxCount
      }).done(function (result) {
          
          for (var i = 0; i < MaxCount; i++) {
            setContentId(result[i]);
          }

          var cards = $(".card");
          for (var i = 0; i < cards.length; i++) {
            getCardInfo($(cards[i]));
          }
      });
  });

  function setContentId(result) {
      var temp = document.getElementsByTagName("template")[0];
      var clon = temp.content.cloneNode(true);
      $(clon.children).find(".card-id").text(result);
      $(clon.children).find(".card-title").text(++count + ". " );
      $("#news_group").append(clon);
  }


  function getCardInfo(item) {
    $.ajax({
        url: "https://hacker-news.firebaseio.com/v0/item/" + item.find(".card-id").text() + ".json?print=pretty",
    }).done(function (result) {
    setCardInfo(item,result);
    });
  }

  function setCardInfo(item,result) {
    var card_title = item.find(".card-title");
    card_title.text(card_title.text() + result.title);
    item.find(".title-link").attr("href", result.url);

    (item.find(".translate-link")[0]).onclick = function () {
        getTrans(this, result.title);
    }
  }

  function getTrans(obj, str) {
      $.ajax({
          url: "/Trans/" + str
      }).done(function (result) {
          $(obj).prevAll(".card-text").text(JSON.parse(result).sentences[0].trans);
      });
  }
</script>